body {
    overflow: hidden;
}

.orbit {
    width: 8px;
    height: 8px;
    position: absolute;
    border-style: solid;
    border-radius: 100%;
}

.circle {
    border-style: solid;
    border-radius: 100%;
    position: absolute;
    left: 25vw;
    top: 0vw;
    border-color: red;
    height: 50vw;
    width: 50vw;
}

#central-orbit {
    background-color: black;
    border-color: black;
}

#low-orbit {
    background-color: red;
    border-color: red;
    animation: rotate 2s linear infinite;
}

#mid-orbit {
    border-width: 1px;
    animation: rotate 2s linear infinite;
}

#high-orbit {
    background-color: blue;
    border-color: blue;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}