#centralOrbit {
    border-style: solid;
    border-radius: 100%;
}

#lowOrbit {
    border-style: solid;
    border-radius: 100%;
}

#midOrbit {
    border-style: solid;
    border-radius: 100%;
}

#highOrbit {
    border-style: solid;
    border-radius: 100%;
}